{% include 'partials/header.html' %}
<a href="/todos"><< Go Back</a>
<br>
    <h3>{{todos.title}}</h3>
    <p>{{todos.text}}</p>
    <br>
    Created on {{todos.created_at}}
{% include 'partials/footer.html' %}
